@font-face {
    font-family: "caviar";
    src: url("../fonts/caviar_dreams/CaviarDreams_Bold.otf");
}
@font-face {
    font-family: "milky nice";
    src: url("../fonts/milky_nice/MilkyNice.ttf");
}
html {
    background-color: #FFD093;
}
body {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}
.glacageShadow {
    fill: #E49190;
}
.glacage {
    fill: #F79B98;
}
#header {
    height: auto;
    width: 100vw;
    padding: 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#headerSVG{

}
#header nav{
    position: relative;
    width: 95%;
    padding: 0 2.5%;
    height: 70px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 20% 40%;
}
#header nav div a{
    font-size: 1.25em;
    text-decoration: none;
    color: #242424;
    font-family: "milky nice", sans-serif;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.15s ease-in-out;
}
#header nav div a:hover{
    background-color: rgba(0, 0, 0, .1);
}
#header #headerG{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-column-start: 1;
    grid-column-end: 2;
}
#header #logo_jeu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 50%;
}
#header #logo_jeu img{
    width: 70%;
    animation: 4s logo 3s infinite;

}
@keyframes logo {
    0% {
        transform: scale(1) translate(0%);
    }
    50% {
        transform: scale(1.1) translate(0%);
    }
    100% {
        transform: scale(1) translate(0%);
    }
}
#header #headerD{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column-start: 3;
    grid-column-end: 4;
}



nav li .chat:hover {
    background-color: #63B7C0;
}
nav li .connect:hover {
    background-color: #63B7C0;
}
nav li .disconnect:hover {
    background-color: #be4545;
}
nav li .accueil:hover {
    background-color: #E49190;
}
nav li .jeu:hover {
    background-color: #FEEED5;
}
nav li .profil:hover {
    background-color: #F8D083;
}
#headerGame{
    width: 60px;
    height: 100vh;
    position: fixed;
    right: 0;

    padding: 0;
    background-color: #F79B98;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}
#headerGame nav {
    width: 100%;
    height: 100%;
    padding-top: 3%;
}
#headerGame nav ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#headerGame nav li {
    margin: 25% 0;
    padding: 0;
    width: auto;
}
#headerGame nav li a {
    cursor: pointer;
    outline: none;
    font-size: 1.25em;
    text-decoration: none;
    color: #242424;
    font-family: "milky nice", sans-serif;
    padding: 5px 10px;
    border-radius: 30px;
    transition: all 0.15s ease-in-out;
}
#headerGame nav li a i{
    width: 30px;
    text-align: center;
}