{% extends 'base.html.twig' %}

{% block title %}MAMYSTÉRIK - LE JEU EN LIGNE{% endblock %}

 {% block stylesheets %}
     <link href="{{ asset('css/accueil.css') }}" rel="stylesheet" type="text/css"> <!-- LINK CSS ACCUEIL -->
 {% endblock %}

{% block body %}

    <style>
        .presentation #container h1 {
            text-align: center;
            margin: 5vh 0;
            font-family: "milky nice", sans-serif;
            color: black;
            font-size: 3em;
            color: #600834 !important;
        }
        .presentation #container p {
            font-size: 1.2em;
            font-family: "caviar";
            line-height: 2em;
            text-align: justify;
            color: #600834 !important;
            padding-left: 55vh;
            padding-right: 55vh;
        }

        .animation, .presentation{
            margin-top: 10%;
        }
        .animation h1 {
            text-align: center;
            margin: 5vh 0;
            font-family: "milky nice", sans-serif;
            color: black;
            font-size: 3em;
            color: #600834 !important;
        }
        .animation #container {
            display: flex;
            justify-content: center;
        }
        .animation #container video {
            box-shadow: 0px -1px 15px 0px rgba(0,0,0,0.75);
            outline: none;
            border-radius: 15px;
            cursor: pointer;
        }

        footer {
            margin-top: 10%;
            position: relative;
            width: 90vw;
            height: 40vh;
            padding: 25vh 5vw 10vh 5vw;
            background-color: #fac785;
        }
        footer #FooterDonutsSVG {
            width: 100vw;
            position: absolute;
            top: -40px;
            left: 0;
        }
        footer nav {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 70%;
            padding-right: 30%;
            height: 45%;
            padding-top: 0;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
        }
        footer nav .footerLink {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }
        footer nav .footerLink h3 {
            text-transform: uppercase;
            font-size: 1.5em;
            margin: 0 0 1em 0;
            text-decoration: none;
            color: #242424;
            font-family: "milky nice", sans-serif;
            padding: 10px 20px;
            border-radius: 30px;
            transition: all 0.15s ease-in-out;
        }
        footer nav .footerLink a {
            cursor: pointer;
            margin: 0;
            font-size: 1em;
            text-decoration: none;
            color: #242424;
            font-family: "milky nice", sans-serif;
            padding: 10px 20px;
            border-radius: 30px;
            transition: all 0.15s ease-in-out;
        }
        footer nav .footerLink a:hover {
            background-color: #FEEED5;
        }
        footer #socialMedia {
            height: 40%;
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 40%;
        }
        footer #socialMedia a {
            width: 45px;
            height: 45px;
            margin: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        footer #socialMedia a:hover path {
            fill: #FEEED5;
        }
        footer #socialMedia a path {
            fill: #F79B98;
            transition: all 0.3s ease-in-out;
        }
        #accueil{
            width: 100vw;
            height: 60vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .imgForm{
            position: fixed;
            height: 70%;
            bottom: -5%;
            transition: all .3s ease-in-out;
        }
        .imgForm.mamie2{
            left: -18%;
        }
        .imgForm.mamie1{
            right: -18%;
        }
        #accueil button{
            background-color: #F39A99;
            border: 5px solid #E49190;
            border-radius: 20px;
            outline: none;
            width: auto;
            text-decoration: none;
            height: 90px;
            margin: 0;
            padding: 0 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "milky nice", sans-serif;
            font-size: 3em;
            cursor: pointer;
            color: whitesmoke;
            text-transform: uppercase;
            transition: all .3s ease-in-out;
        }
    </style>

    <section id="accueil">
        <img class="imgForm mamie2" src="{{ asset('img/items/mamie1.svg') }}" alt="Mamie 1">
        <img class="imgForm mamie1" src="{{ asset('img/items/mamie2.svg') }}" alt="Mamie 2">

        <button class="btn submit" id="accueilBtn">JOUER !</button>

    </section>

    <section class="presentation">
        <div id="container">
            <h1>Présentation du jeu</h1>

            <p>Aujourd'hui, c'est l'anniversaire de Lucie, et ses deux grands-mères viennent à la maison pour le fêter. Elles ont ramené des
                ingrédients dans leurs paniers afin de confectionner des
                pâtisseries. Cependant, le détail qui fâche, c'est que les deux
                grand-mères se détestent, et elles se disputent donc la
                confection des différents gâteaux, en fonction des ingrédients
                dont elles disposent chacune. L'enjeu derrière cette querelle?
                Devenir la mamie préférée de Lucie, celle chez qui Lucie
                passera ses vacances !</p>

            <p> Le but est d’obtenir le plus d’ingrédients pour faire le plus de gâteaux possible pour l’anniversaire de Lucie, à la fin de chaque manche ! Durant chaque manche, 4 actions s’offrent à vous, saurez-vous être strategique ?</p>
        </div>
    </section>

    <section class="animation">
        <h1> Les règles </h1>
        <div id="container">
            <div id="video">
                <video controls width="850" alt="video de promotion du jeu">
                    <source src="{{ asset('img/1min30.mp4' )}}" type="video/mp4">
                </video>
            </div>
        </div>
    </section>

    <footer>
        <svg version="1.1" id="FooterDonutsSVG" width="100vw" viewBox="0 0 1200 400" preserveAspectRatio="none">
            <path id="footerGS" d="M1200,69H0v109.7c45.8,20.7,71.3,10.3,106.5-16.8c52.8-21.5-5.3,46.2,91.6,89.4s93.4-118.9,135.7-154.8s40.5,56.7,111,99.8s86.3-29.5,121.6-56.6s49.5,147.6,121.7,118.1s79.3-146,123.3-122.9S897.6,311.1,954,327.1c56.4,16,84.6-28.2,89.9-37.5c7.2-12.5,44-102.1,74-144.4S1200,128,1200,128V69z"/>
            <path id="footerG" d="M1200,30.4c-49.5-7.1-100.8-10.9-153.8-11.9c-11.7-0.2-74.6,1.7-88.4,2.5c-81.4,4.9-186-0.6-218.4,0.4c-6.3,0.2-20,0.3-26.8,0c-41-1.6-187.1,1.8-284.9,9c-59.4,4.3-106,0.3-138.5-4.5c-24.8-3.6-51.7-9.2-91.8-9.2c-29.7,0-112.3,5.9-135.3,7.4C35.7,25.7,9.7,28.2,0,30.4v132.4c45.8,20.7,71.3,12.4,106.5-14.7c52.8-21.5-5.3,46.2,91.6,89.4s93.4-118.9,135.7-154.8c42.3-35.9,40.5,56.7,111,99.7c70.5,43.1,86.3-29.5,121.6-56.6c35.3-27.1,49.5,147.6,121.7,118.1s79.3-146,123.3-122.9c44,23.1,86.2,176.3,142.6,192.3c56.4,16,84.6-28.2,89.9-37.5c7.2-12.5,44-102.1,74-144.4c30-42.3,82.1-20.7,82.1-20.7L1200,30.4z"/>
        </svg>
        <nav>
            <div class="footerLink">
                <h3>Contact</h3>
                <a href="mailto:asnstudio.studio@gmail.com">asn-studio@gmail.com</a>
                <a href="tel:+33648526092">06 48 52 60 92</a>
                <a class="notLink">9 Rue du Quebec,</a>
                <a class="notLink">10430 Rosières-Près-Troyes</a>
            </div>
            <div class="footerLink">
                <h3>Informations</h3>
                <a href="https://asn-studio.fr/promo/cgv.php">Conditions générales de vente</a>
                <a href="https://asn-studio.fr/promo/cgu.php">Conditions générales d'utilisation</a>
                <a href="https://asn-studio.fr/promo/mentions-legales.php">Mentions légales</a>
            </div>
        </nav>
        <div id="socialMedia">
            <a href="">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="svg-inline--fa fa-instagram fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>
            </a>
            <a href="">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-square" class="svg-inline--fa fa-facebook-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path></svg>
            </a>
            <a href="">
                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube" class="svg-inline--fa fa-youtube fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></svg>
            </a>
        </div>
    </footer>

    <script>
        let footerG = document.getElementById('footerG')
        let footerGS = document.getElementById('footerGS')


        footerG.style.fill = color;
        footerGS.style.fill = colorshadow;

    </script>

{% endblock %}
