{% extends 'base.html.twig' %}

{% block title %}MAMYSTÉRIK - NOUVELLE PARTIE{% endblock %}

 {% block stylesheets %}
     <link href="{{ asset('css/form.css') }}" rel="stylesheet" type="text/css"> <!-- LINK CSS FORM -->
     <style>
         header{
             position: relative!important;
         }
     </style>
 {% endblock %}
{% block body %}
<form action="{{ path('create_game') }}" method="post" id="formNewGame">

        <label for="user2">Choisi ton adversaire</label>
        <div class="inputDate">
            <select name="user2" id="user2">
                {% for user in users|filter(user => user.id != app.user.id) %}
                    <option value="{{ user.id }}">{{ user.display }}</option>
                {% endfor %}
            </select>
        </div>


    <button type="submit">JOUER !</button>

</form>
{% endblock %}
